.parkBody{
    margin:auto;
}
/* .navbar-nav .nav-item:not(:last-child) {
    border-right: 2px solid #000;
    padding-right: 10px;
  } */

#jumbo {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}